button:hover {
  background-color: var(--primary-hover);
  scale: 1.2;
}

button.delete {
  background-color: var(--danger);
}

button.delete:hover {
  background-color: #dc2626;
}
button {
  font-family: Poppins;
  padding: 10px 14px;
  margin-right: 16px;
  border: none;
  border-radius: 12px;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
