@font-face{
    font-family: 'Poppins';
    src: url('./assets/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
  --bg: #ccdaf7;
  --primary: #4f46e5;
  --primary-hover: #2c21a0;
  --text: #1f2937;
  --gray: #6b7280;
  --white: #ffffff;
  --border: #e5e7eb;
  --success: #10b981;
  --danger: #ef4444;
}

body {
    background-color: var(--bg);   
    font-family: Poppins;
    margin: 0
}

#root{
    max-width: 80vw;
    margin: 40px auto;
    background: var(--white);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

input{
    padding: 10px;
    margin: 5px;
    border-radius: 12px;
    border: 1px solid var(--border)
}

button {
  padding: 10px 14px;
  margin-right: 16px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  transition: 0.4s;
}


button:hover {
  background-color: var(--primary-hover);
  scale: 1.2;
}

button.delete {
  background-color: var(--danger);
}

button.delete:hover {
  background-color: #dc2626;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

td, th {
  padding: 12px;
  text-align: left;
}

tr {
  border-bottom: 1px solid var(--border);
  transition: 0.2s;
}

tr:hover{
    background-color: #9ac2eb;
}

.selected {
  background-color: #496ce0;
}

#controls{
    margin-bottom: 15px;
}


th:nth-child(1), td:nth-child(1) {
  width: 50%;
}

th:nth-child(2), td:nth-child(2) {
  width: 25%;
}

th:nth-child(3), td:nth-child(3) {
  width: 25%;
}

#adicionarTarefa{
  display: flex;
  flex-direction: row;
}